<nav>
    <mat-toolbar color="primary">
        <a mat-button routerLink=".">Home</a>
        <a mat-button *ngIf="isLoggedIn$ | async" routerLink="/admin">Admin</a>
        <span class="example-fill-remaining-space"></span>
        <a mat-button *ngIf="isLoggedOut$ | async" routerLink="/login">Login</a>
        <a mat-button *ngIf="isLoggedIn$ | async" routerLink="/admin/profile">Profile</a>
        <a mat-button *ngIf="isLoggedIn$ | async" (click)="logout()">Logout</a>
    </mat-toolbar>
</nav>
