<header class="w3-container w3-teal">
  <h4>Demo</h4>
</header>
<nav class="w3-bar w3-black">
  <a routerLink="/home" class="w3-bar-item w3-button" routerLinkActive="w3-blue">Home</a>
  <a routerLink="/profile" class="w3-bar-item w3-button" routerLinkActive="w3-blue">Profile</a>
  <a routerLink="/signin" class="w3-bar-item w3-button w3-right" *ngIf="!currentUser" routerLinkActive="w3-blue">Sign In</a>
  <a routerLink="/signup" class="w3-bar-item w3-button w3-right" *ngIf="!currentUser" routerLinkActive="w3-blue">Sign Up</a>
  <a routerLink="/signout" class="w3-bar-item w3-button w3-right" *ngIf="currentUser" routerLinkActive="w3-blue">Sign Out</a>
</nav>
<article>
  <router-outlet></router-outlet>

</article>
