<!-- <div class="w3-card w3-pale-blue w3-padding w3-margin">
    <h3>{{user?.name}}</h3>
    Contact: 
    <ng-content select=".contact"></ng-content>
    <br>
    Company: 
    <ng-content select=".company"></ng-content>
</div> -->


<div class="w3-card w3-pale-blue w3-padding w3-margin">
    <h3 #headingRef>{{user?.name}}</h3>
    <app-label #labelRef [text]="'Contact:'"></app-label>
    <ng-content select=".contact"></ng-content>
    <br>
    <app-label [text]="'Company:'"></app-label>
    <ng-content select=".company"></ng-content>

    <ng-container *ngTemplateOutlet="tpl; context: {i: 2}"></ng-container>
</div>
