<div class="w3-container w3-padding wrapper">
    <h4 [hidden]="false">The count is:</h4>
    <p [style.color]="mark%2==0 ? 'red' : 'green'">{{mark}}</p>
    <input type="text" [(ngModel)]="mark">
    <br>
    <br>
    <button (click)="isPaused ? onStart() : onPause()" class="w3-button w3-blue" [class.w3-red]="isPaused">
        {{ isPaused ? 'Start' : 'Pause' }}
    </button>
    <hr>
</div>

<p>{{half|percent}}</p>




<select #sel [(ngModel)]="country">
    <option *ngFor="let site of sites" [value]="site">{{site}}</option>
</select>

<div [ngSwitch]="country">
    <h3 *ngSwitchCase="'Ind'">First</h3>
    <h3 *ngSwitchCase="'US'">Second</h3>
    <h3 *ngSwitchCase="'UK'">Third</h3>
    <h3 *ngSwitchDefault>Default</h3>
</div>