<div class="w3-container w3-padding wrapper">
    
    <h4>The count is:</h4>
    <p [style.color]="mark%2==0 ? 'red' : 'green'">{{mark}}</p>
    <input [type]="text" [(ngModel)]="mark">
    <br>
    <br>
    <button (click)="isPaused ? onStart($event) : onPause()" class="w3-button w3-blue" [class.w3-red]="isPaused">
        {{ isPaused ? 'Start' : 'Pause' }}
    </button>
    <!-- <button (click)="onStart()" class="w3-button w3-blue" [class.w3-red]="isPaused">
       Start
    </button> -->
    <hr>
</div>



