<p>The list:</p>

<app-item2 [user]="user1">
    <div #contactRef class="contact">
        {{user1?.phone}}
        {{user1?.email}}
    </div>

    <div class="company">
        {{user1?.website}}
    </div>
</app-item2>

<!-- <app-item2 [user]="user2"> -->
<app-item2 [user]="user2" [tpl]="footnote">
    <div #contactRef class="contact">
        {{user2?.email}}
    </div>
    <div class="company">
        {{user2?.company.name}}
    </div>
</app-item2>

<!-- <ng-template #end let-count="total">
    Found {{count}} users.
</ng-template>

<div *ngTemplateOutlet="end; context {total: 3}">
</div> -->

<!-- <ng-template #end let-count="total">
    Found {{count}} users.
</ng-template>

<div *ngTemplateOutlet="end; context: {total: users.length}">
</div> -->

<ng-template >
    <hr>
    <div>
        Item x ended
    </div>
</ng-template>