<section>
<mat-card class="form-card">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxLayout="column" >

        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
            <mat-icon matPrefix>perm_identity</mat-icon>
            <!-- <ng-container *ngIf="username.invalid && (username.dirty || username.touched)"> -->
                <mat-error *ngIf="username.invalid">
                    {{getUsernameError()}}
                </mat-error>
            <!-- </ng-container> -->
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="passwordHidden ? 'password' : 'text'" formControlName="password">
            <mat-icon matPrefix>vpn_key</mat-icon>
            <mat-icon matSuffix (click)="passwordHidden = !passwordHidden">
                {{passwordHidden ? 'visibility_off' : 'visibility'}}
            </mat-icon>
            <mat-error *ngIf="password.invalid">
                Password is required.
            </mat-error>
        </mat-form-field>
        

        <a routerLink="/reset-password">Forgot Password?</a>
        <br>


        <mat-card-actions>
            <button class="loginButton" [disabled]="!(loginForm.status=='VALID')" mat-raised-button color="primary" type="submit">Continue</button>
        </mat-card-actions>

    </form>
</mat-card>
</section>